<footer class="footer p-grid p-nogutter p-align-center">
    <div class="p-col-12 p-md-6">
      <h5>Información de contacto</h5>
      <p>Dirección: 123 Calle Principal, Ciudad, País</p>
      <p>Teléfono: +123456789</p>
      <p>Email: info@example.com</p>
    </div>
    <div class="p-col-12 p-md-6">
      <h5>Enlaces útiles</h5>
      <ul class="p-list-unstyled">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Acerca de nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
</footer>
  