.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.producto {
  width: 300px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.producto img {
  max-width: 100%;
  height: auto;
}

.contenido {
  margin-bottom: 0;
}

.precio {
  font-weight: bold;
  color: #038c3e;
}

.panelProduct {
  margin: 20px;
  /*box-shadow: 0 15px 15px #99D959;*/
}

.rounded-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #000;
  font-size: 16px;
  padding: 10px 0;
  transition: border-color 0.5s ease;
}

.rounded-input:focus {
  border-color: #99d959;
  box-shadow: #99d959;
}

.container-div-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.div-search {
  width: 300px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.linea {
  color: #038c3e;
}

button{
  background-color: #fff;
  mat-icon {
    color: #038c3e;
  }
}


button:hover{
  background-color: #038c3e;
  mat-icon {
    color: #fff;
  }
}
