
    <h1 mat-dialog-title> Confirmación </h1>
<div mat-dialog-content>
    <p>¿Estás seguro de Cerrar Sesión?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No</button>
    <button mat-button (click)="salir()" cdkFocusInitial>Si</button>
</div>



<!--div >
    <h2>Login</h2>
      <div class="user-box">
        <input type="text" name="" formControlName="username" required="" >
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" formControlName="password" required="" >
        <label>Password</label>
      </div>
      <a href="#" (click)="onNoClick()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
      <a href="#" (click)="onNoClick()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
  </div-->